@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-1: #F8F8F6;
  --neutral-1-overlay: #FFFFFF;
  --neutral-2: #F3F3F1;
  --neutral-3: #E2E3DC;
  --neutral-4: #D2D3C8;
  --pine-1: #E8EEE7;
  --pine-2: #B4CFB0;
  --pine-3: #6EA465;
  --pine-4: #487B40;
  --pine-5: #315B2B;
  --plum-1: #F3EFF1;
  --plum-2: #F0D8E6;
  --plum-3: #CB7FAB;
  --gold-0: #F8F3E5;
  --gold-1: #EDDDB2;
  --gold-2: #E0C478;
  --gold-3: #CEA83F;
  --gold-4: #B18C24;
  --gold-5: #82620B;
  --khaki-0: #F2F0E9;
  --khaki-1: #EBE8E0;
  --type-1: #000000;
  --type-2: #323A3A;
  --type-3: #707070;
  --type-link: #487B40;
  --type-alt: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-1: #232320;
    --neutral-1-overlay: #41433D;
    --neutral-2: #52534F;
    --neutral-3: #73766C;
    --neutral-4: #84876F;
    --pine-1: #2C3228;
    --pine-2: #294026;
    --pine-3: #6EA465;
    --pine-4: #487B40;
    --pine-5: #315B2B;
    --plum-1: #3D3037;
    --plum-2: #5F2446;
    --plum-3: #F0D8E6;
    --gold-0: #59450B;
    --gold-1: #82620B;
    --gold-2: #B18C24;
    --gold-3: #CEA83F;
    --gold-4: #B18C24;
    --gold-5: #82620B;
    --khaki-0: #33322B;
    --khaki-1: #5C522E;
    --type-1: #FFFFFF;
    --type-2: #EBECE6;
    --type-3: #9EA18A;
    --type-link: #90BC89;
    --type-alt: #FFFFFF;
  }
}

body {
  color: var(--type-1);
  background: var(--neutral-1);
  font-family: var(--font-work-sans);
}
